{%- set create_deployment_val = create_deployment | default(true) -%}
{%- set create_service_val = create_service | default(true) -%}
{% if create_deployment_val %}
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ app_name }}-deployment
  {% if metadata_namespace is defined %}
  namespace: {{ metadata_namespace }}
  {% endif %}
  labels:
    app: {{ app_name }}
spec:
  replicas: {{ replicas | default(1) }}
  selector:
    matchLabels:
      app: {{ app_name }}
  template:
    metadata:
      labels:
        app: {{ app_name }}
    spec:
      containers:
        - name: {{ app_name }}
          image: {{ container_image | default("nginxdemos/nginx-hello:latest") }}
          ports:
          - containerPort: {{ container_port | default(8080) }}
      imagePullSecrets: {{ image_pull_secrets | default([]) }}
---
{% endif %}
{% if create_service_val %}
apiVersion: v1
kind: Service
metadata:
  name: {{ app_name }}-svc
  {% if metadata_namespace is defined %}
  namespace: {{ metadata_namespace }}
  {% endif %}
spec:
  selector:
    app: {{ app_name }}
  ports:
    - protocol: TCP
      port: {{ service_port | default(80) }}
      targetPort: {{ container_port | default(8080) }}
      name: http
---
{% endif %}
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  annotations:
    {% if tls_hosts is defined %}
    cert-manager.io/cluster-issuer: {{ cluster_issuer_name }}
    nginx.ingress.kubernetes.io/ssl-redirect: "true"
    {% else %}
    nginx.ingress.kubernetes.io/ssl-redirect: "false"
    nginx.ingress.kubernetes.io/force-ssl-redirect: "false"
    {% endif %}
  name: {{ app_name }}-ingress
  {% if metadata_namespace is defined %}
  namespace: {{ metadata_namespace }}
  {% endif %}
spec:
  ingressClassName: nginx
  {% if tls_hosts is defined %}
  tls:
    - hosts:
        {% for item in tls_hosts %}
        - {{ item }}
        {% endfor %}
      secretName: {{ app_name }}-cert
  {% endif %}
  rules:
    {% for item in tls_hosts | default(web_hosts) %}
    - host: {{ item }}
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                {% if create_service_val %}
                name: {{ app_name }}-svc
                port:
                  number: {{ service_port | default(80) }}
                {% else %}
                name: {{ external_service_name }}
                port:
                  number: {{ external_service_port }}
                {% endif %}
    {% endfor %}
