apiVersion: v1
kind: Config
clusters:
  - name: "{{ cluster_name }}"
    cluster:
      server: "{{ cluster_server }}"
      certificate-authority-data: "{{ cluster_ca_data }}"
contexts:
  - name: "{{ context_name }}"
    context:
      cluster: "{{ cluster_name }}"
      namespace: "{{ sa_namespace }}"
      user: "{{ sa_name }}"
current-context: "{{ context_name }}"
users:
  - name: "{{ sa_name }}"
    user:
      token: "{{ sa_token }}"
